--extra-index-url https://pypi.nvidia.com
aiohttp
chromadb
fastapi
fastembed
onnxruntime-gpu
nvidia-cudnn-cu12
nvidia-cublas-cu12
cuml-cu12
torch
httpx
requests
tqdm
tuspy
umap-learn
uvicorn[standard]
qdrant-client